{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="search text-center">Post</h3>
      <hr>
      <form class="" action="{% url 'post_project'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
       <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
